<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration>
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:/ebuildleap.log" />
		<param name="MaxFileSize" value="100MB" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</layout>
	</appender>
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="5000" />
		<appender-ref ref="FILE" />
	</appender>
	<root>
		<priority value="DEBUG"></priority>
		<appender-ref ref="ASYNC" />
	</root>
</log4j:configuration>
